<% @title = "Marketplace Admin - Edit localization" %>
<section id="content">
  <div class="row">
    <%= erb :"admin/_sidebar" %>
    <div class="span10">
      <h1>Edit localization</h1>

      <form action="/admin/edit_localization/set_language" method="POST">
        <fieldset>
          <select name="language" onchange="this.form.submit();">
            <% LANGUAGES.each{| key, value | %>
              <option value="<%= key %>" <%= (session[:admin_loc_language] == value["LANGUAGE_CODE"]) ? "selected" : ""%>><%= value["LANGUAGE_NAME"] %></option>
            <% } %>
          </select>
        </fieldset>
      </form>

      <style type="text/css">
        .hiddencategory {
          display: none;
        }
        .symbol {
            margin-right: 5px;
        }
      </style>

      <script type="text/javascript">
        $(document).ready(function(){
          //restore toggle states from cookie
          toggleStates = JSON.parse($.cookie('adminLocalizationToggleStates'));
          //loop through
          for(element in toggleStates) {
            if(toggleStates[element] == 'visible') {
                //set icon
                $("#"+element).parent().find("i.symbol").removeClass("icon-chevron-up").addClass("icon-chevron-down");
                //display this block
                $("#"+element).removeClass("hiddencategory");
            }
          }

          //toggle element and icon
          $(".toggler").click(function() {
              toggleElement($(this).next('.category-content'));
              //toggle icon;
              $(this).find("i.symbol").toggleClass("icon-chevron-down icon-chevron-up");
              //save new state in cookie
              $.cookie('adminLocalizationToggleStates', serializeToggleStates());
          });
        });

        function toggleElement(element) {
            element.toggle();
        }

        /**
         * return a json representation of current toggle state for all elements
         * elementId: [visible|hidden]
         */
        function serializeToggleStates() {
            states = new Object();
            $(".category-content").each(function(){
                state = $(this).is(":visible") ? 'visible': 'hidden';
                states[$(this).attr('id')] =  state;
            })

            return JSON.stringify(states);
        }
      </script>

      <form class="form-horizontal" action="/admin/edit_localization/submit" method="POST">
        <button class="btn" type="submit">Apply changes</button>
          <% i = 0 %>
          <% KEY_CATEGORIES.each{|category, language_keys| %>
            <div class="category">
              <span class="toggler"><h4><i id="symbol<%= i %>" class="symbol icon-chevron-up"></i><%=category%></h4></span>
              <div class="category-content hiddencategory" id="categoryelement<%= i %>">
                <hr/>
                <% for key in language_keys
                  params[key] = LANGUAGES[session[:admin_loc_language]][key];
                %>

                <%= erb :_text_control_wide, :locals => {:name => key, :label => key}%>

                <% end %>
              </div>
            </div>
            <% i = i+1 %>
          <% } %>
        <button class="btn" type="submit">Apply changes</button>
      </form>
    </div>
  </div>
</section>

