<% @title = "Marketplace Admin - Home" %>
<section id="content">
<div class="row">
  <%= erb :"admin/_sidebar" %>
  <div class="span10">
    <h1>Welcome to the admin page!</h1>


  <h2>Statistics</h2>
    <table class="table">
      <tr><td>Registered users:</td>
      <td><%= ts(Market::User.all.length) %></td></tr>
      <tr><td>Organizations</td>
      <td><%= ts(Market::Organization.all.length) %></td></tr>
      <tr><td>Active items:</td>
      <td><%= ts(Market::Item.active_items.length) %></td></tr>
      <tr><td>Total items:</td>
      <td><%= ts(Market::Item.all.length) %></td></tr>
      <tr><td>Active auctions:</td>
      <td><%= ts(Market::Item.all_auctions.length) %></td></tr>
      <tr><td>Items sold:</td>
      <td><%= ts(Market::Agent.items_sold) %></td></tr>
      <tr><td>Money spent:</td>
      <td><%= ts(Market::Agent.money_spent) %></td></tr>
      <tr><td>Items sold in auctions:</td>
      <td><%= ts(Market::Auction.auctions_finished) %></td></tr>
      <tr><td>Total user credits:</td>
      <td><%= ts(Market::User.total_user_credits) %></td></tr>
      <tr><td>Total value of items on the market:</td>
      <td><%=
          sum = 0
          for item in Market::Item.active_items
            sum += item.price
          end
          ts(sum)
      %></td></tr>
      <tr><td>Total value of all items:</td>
      <td><%=
          sum = 0
          for item in Market::Item.all
            sum += item.price
          end
          ts(sum)
      %></td></tr>
      <tr><td>Total organization credits:</td>
      <td><%= ts(Market::Organization.total_org_credits) %></td></tr>
      <tr><td>Total user credits:</td>
      <td><%= ts(Market::User.total_user_credits+Market::Organization.total_org_credits) %></td></tr>
      <tr><td>Organization memberships:</td>
      <td><%= ts(Market::Organization.total_members) %></td></tr>
      <tr><td>Bids made:</td>
      <td><%= ts(Market::Auction.bids_made) %></td></tr>
      <tr><td>Comments made:</td>
      <td><%= ts(Market::Comment.all.length) %></td></tr>
    </table>

  <h2>Users currently active</h2>
  Refreshes automatically every <%=ADMIN_USERLIST_REFRESH_MS/1000%> seconds.
  <button class="btn" onclick="updateUserlist()">Refresh now</button>


  <div id="activeuserslist" style="margin-top: 2em;">

  </div>
  <script>
      function updateUserlist()
      {
          var xmlhttp;
          if (window.XMLHttpRequest)
          {// code for IE7+, Firefox, Chrome, Opera, Safari
              xmlhttp=new XMLHttpRequest();
          }
          else
          {// code for IE6, IE5
              xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
          }
          xmlhttp.onreadystatechange=function()
          {
              if (xmlhttp.readyState==4 && xmlhttp.status==200)
              {
                  document.getElementById("activeuserslist").innerHTML=xmlhttp.responseText;
              }
          }
          xmlhttp.open("GET","/admin/active_users",true);
          xmlhttp.send();
      }

      updateUserlist()
      window.setInterval("updateUserlist()",<%=ADMIN_USERLIST_REFRESH_MS%>)
  </script>



</div>

</div>
</section>

