<% @title = "Marketplace Admin - Home" %>
<section id="content">
<div class="row">
  <%= erb :"admin/_sidebar" %>
  <div class="span10">
    <h1>Welcome to the admin page!</h1>


  <h2>Statistics</h2>
    <dl class="dl-horizontal">
      <dt>Registered users:</dt>
      <dd><%= Market::User.all.length %></dd>
      <dt>Organizations</dt>
      <dd><%= Market::Organization.all.length %></dd>
      <dt>Active items:</dt>
      <dd><%= Market::Item.active_items.length %></dd>
      <dt>Total items:</dt>
      <dd><%= Market::Item.all.length %></dd>
      <dt>Active auctions:</dt>
      <dd><%= Market::Item.all_auctions.length %></dd>
      <dt>Items sold:</dt>
      <dd><%= Market::Agent.items_sold %></dd>
      <dt>Items sold in auctions:</dt>
      <dd><%= Market::Auction.auctions_finished %></dd>
      <dt>Total user credits:</dt>
      <dd><%= Market::User.total_user_credits %></dd>
      <dt>Total organization credits:</dt>
      <dd><%= Market::Organization.total_org_credits %></dd>
      <dt>Total user credits:</dt>
      <dd><%= Market::User.total_user_credits+Market::Organization.total_org_credits %></dd>
      <dt>Organization memberships:</dt>
      <dd><%= Market::Organization.total_members %></dd>
    </dl>

  <h2>Users currently active</h2>
  Refreshes automatically every <%=ADMIN_USERLIST_REFRESH_MS/1000%> seconds.
  <button class="btn" onclick="updateUserlist()">Refresh now</button>


  <div id="activeuserslist">

  </div>
  <script>
      function updateUserlist()
      {
          var xmlhttp;
          if (window.XMLHttpRequest)
          {// code for IE7+, Firefox, Chrome, Opera, Safari
              xmlhttp=new XMLHttpRequest();
          }
          else
          {// code for IE6, IE5
              xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
          }
          xmlhttp.onreadystatechange=function()
          {
              if (xmlhttp.readyState==4 && xmlhttp.status==200)
              {
                  document.getElementById("activeuserslist").innerHTML=xmlhttp.responseText;
              }
          }
          xmlhttp.open("GET","/admin/active_users",true);
          xmlhttp.send();
      }

      updateUserlist()
      window.setInterval("updateUserlist()",<%=ADMIN_USERLIST_REFRESH_MS%>)
  </script>



</div>

</div>
</section>

