<% # Parameters (to pass in :locals)
   # :activities to display  (required)
   # :identifier - identifier for this list on a page with multiple item lists, used for paging links (optional, default is :activitieslistpage)
   # :orgactivities - whether this is a list of orgactivities that can also be filtered for  (optional)
   identifier = :activitieslistpage unless identifier
   page = params[identifier] ? params[identifier].to_i : 0
%>


<%
   def activity_filter_enabled?(str)
     return true unless session[:activity_filter]   # all enabled by default
     return session[:activity_filter].include?(str)
   end

   def checked_if_activity_filter_enabled(str)
     return activity_filter_enabled?(str) ? "checked=\"checked\"" : ""
   end
%>

<% #filter activities (must be done before calculating paging)

   activities = activities.select { |a| activity_filter_enabled?(a.type.to_s) }
%>

<%= erb :_pages_links, :locals => {:cur_page => page,
                                   :size => activities.size,
                                   :per_page => ACTIVITIES_PER_PAGE,
                                   :identifier => identifier}
%>


<form action="/set_activity_filter" method="POST">
  <%=@LANG["FILTER_LIST"]%>
  <input type="checkbox" name="comment"    <%=checked_if_activity_filter_enabled("comment")%>><%=@LANG["COMMENTING"]%>
  <span style="display:<%=(defined? orgactivities) ? "none" : ""%>">
  <input type="checkbox" name="follow"     <%=checked_if_activity_filter_enabled("follow")%>><%=@LANG["FOLLOWING"]%>
  </span>
  <input type="checkbox" name="activate"   <%=checked_if_activity_filter_enabled("activate")%>><%=@LANG["ACTIVATING"]%>
  <span style="display:<%=(defined? orgactivities) ? "" : "none"%>">
  <input type="checkbox" name="buy"        <%=checked_if_activity_filter_enabled("buy")%>><%=@LANG["BUYING"]%>
  <input type="checkbox" name="createitem" <%=checked_if_activity_filter_enabled("createitem")%>><%=@LANG["ITEM_CREATION"]%>
  </span>
  <button type="submit" class="btn btn-info small"><%=@LANG["APPLY_ACTIVITY_FILTER"]%></button>
</form>

<table class="table table-striped">
  <% activities.each_with_index do |activity, index| %>
  <% next unless index/ACTIVITIES_PER_PAGE == page %>
      <tr>
        <td> <%= erb :_user_link, :locals => {:user => activity.creator} %>
        </td>
        <td>
          <%= mdown_to_html(xss activity.message.to_string(@LANG)) %>
          <i class='muted'><%=@LANG["AT_TIME"]%> <%= activity.timestamp.strftime('%Y-%m-%d %H:%M:%S') %></i>
        </td>
      </tr>
  <%end%>
</table>