<% # Parameters (to pass in :locals)
# * agents to display
# * version: Optional - any of the identifiers
#   :leave_organization Supply when listing orgs a user has joined, must also supply user then
#   :remove_org_member Supply when listing org members, must supply :org as well
#   or nil
# :identifier - identifier for this list on a page with multiple item lists, used for paging links
identifier = :agentlistpage unless identifier
page = params[identifier] ? params[identifier].to_i : 0
%>

<%= erb :_pages_links, :locals => {:cur_page => page,
                                   :size => agents.size,
                                   :per_page => AGENTS_PER_PAGE,
                                   :identifier => identifier}
%>

<table class="table">
  <thead>
  <th>Picture</th>
  <th>Name</th>
  <th>About</th>
  <% if (defined? show_admin_button) && show_admin_button == true %>
    <th></th>
  <% end %>
  <% if (defined? version) && ( version == :leave_organization || version == :remove_org_member)%>
    <th></th>
  <% end %>
  </thead>
  <tbody>
  <% agents.each_with_index do |agent, index| %>
      <% next unless index/AGENTS_PER_PAGE == page %>
      <tr style="height:<%= LISTROWWITHIMAGEHEIGHT%>px">
        <td><%= erb :_image_rect, :locals => {:filename => agent.image_file_name, :size => LISTIMAGESIZE} %></td>
        <td><%= erb :_user_link, :locals => {:user => agent} %></td>
        <td><%= mdown_to_html (xss agent.about) %></td>
        <% if (defined? show_admin_button) && show_admin_button == true %>
          <td>
            <form action="/organization/<%= @org.id %>/toggle_admin_member" method="POST">
              <input type="hidden" name="user_to_change" value="<%= agent.id %>" />
              <% if org.is_admin?(agent) %>
                <button type="submit" class="btn btn-warning small" <% if org.admins.size < 2 %>disabled<% end %>>Revoke admin</button>
              <% else %>
                <button type="submit" class="btn btn-info small">Promote admin</button>
              <% end %>
            </form>
          </td>
        <% end %>
          <% if defined? version%>
            <td>
            <%if version == :leave_organization %>

                <%if agent.admins.size > 1 || !agent.admins.include?(@current_user) # Admins can't leave the org if there is only one
          %>
                  <form action="/organization/<%= xss agent.id %>/remove_member" method="post">
                    <input type="hidden" name="user_to_remove" value="<%= xss user.id%>" />
                    <input type="submit" class="btn btn-info small" name="submit" title="Leave Organization" value="Leave it!" />
                  </form>
            <%  end %>
            <% end

               if version == :remove_org_member%>
               <%if org.admins.size > 1 || !org.admins.include?(agent) # the last admin cannot be removed %>

                      <form action="/organization/<%= xss org.id %>/remove_member" method="post" style="display: inline;">
                        <input type="hidden" name="user_to_remove" value="<%= xss agent.id %>" />
                        <button class="close" title="Remove member">&times;</button>
                      </form>
               <%end%>
              <%end%>

             </td>
             <%end # if version?%>

      </tr>
  <% end %>
  </tbody>
</table>

<%= erb :_pages_links, :locals => {:cur_page => page,
                                   :size => agents.size,
                                   :per_page => AGENTS_PER_PAGE,
                                   :identifier => identifier}
%>
