<%
   #showalllang          set to true to show all lang fields
   %>

<fieldset>

  <div id="moreLangs">
  </div>


  <%if LANGUAGES.size > 0 %>
      <div class="control-group" id="moreLangsBtn">
        <div class="controls">
          <div class="btn btn-info" id="add_lang_button"><%=@LANG["I_WANT_PROVIDE_DESC_MORE_LANGS"]%></div>
        </div>
      </div>
  <%end%>

  <script>
      numOfLanguages = <%=LANGUAGES.size%>

      $(document).on("click", "#add_lang_button", function(){$(".langselector").trigger("change")});

      //disable already selected languages
      $(document).on("change", ".langselector", function(){
          //allow all options in all boxes
          $(".langselector > option").removeAttr("disabled");
          $(".langselector > option:selected").each(function() {
              id = parseInt($(this).parent().attr("id").substr(-1, 1));
              selected_value = $(this).attr("value");
              //iterate over all lower select boxes. disable the options selected in current one
              for(i=id+1; i<numOfLanguages; i++) {
                  $("#langselector_"+i).children("option[value='"+selected_value+"']").attr("disabled","disabled").removeAttr("selected");
              }
          });

      });

      languagesCounter = 0


      $("#add_lang_button").click(function(){
          <%
          for i in 0...LANGUAGES.size
          %>


          if (languagesCounter == <%= i%>) {
              $('#moreLangs').append('<div><%=
              ((erb :_lang_id_select_control, :locals => {:num => i}).to_s).delete("\n").delete("\r") +
              (erb :_text_control, :locals => {:name => "name_#{i}", :label => @LANG["NAME"]}).to_s.delete("\n").delete("\r") +
              (erb :_textarea_control, :locals => {:name => "about_#{i}", :label => @LANG["DESCRIPTION"]}).to_s.gsub(/\r/,'').gsub(/\n/,"\\n")
               %></div><hr/>')
              languagesCounter++

              <%if i == LANGUAGES.size-1%>$('#moreLangsBtn').remove()   <%end%>

              return
          }

          <%
          end
          %>

      });

      $(document).ready(function(){
          <%
          for i in 0...LANGUAGES.size
            if params.has_key?("language_#{i}") ||i == 0
          %>
          $("#add_lang_button").trigger("click");
          <%end%>
     <%end%>
      });
  </script>



  <%= erb :_text_control, :locals => {:name => :price, :label => @LANG["PRICE"]}%>
  <%= erb :_image_file_control %>

  <div class="form-actions">
    <button class="btn btn-info" type="submit"><%=@LANG["SAVE"]%></button>
  </div>





</fieldset>
