<% if item.active %>
    <%if item.owner == @current_user %>
        <td>
          <form action="/item/<%= item.id %>/status_change" method="post">
            <input type="hidden" name="owner" value="<%= item.owner.name %>" />
            <input type="hidden" name="item" value="<%= item.id %>" />
            <input type="hidden" name="new_state" value="inactive" />
            <input type="submit" class="btn btn-info small" name="submit" value="Inactivate item" />
          </form>
        </td>
    <% else %>
        <td>
          <form action="/item/<%= item.id %>/buy" method="post">
            <input type="hidden" name="owner" value="<%= item.owner.name %>" />
            <input type="hidden" name="item" value="<%= item.id %>" />
            <% if session[:name] && item.owner != @current_user %>
                <input type="submit" class="btn btn-info small" name="submit" value="Buy Item" />
            <% end %>
          </form>
        </td>
        <td></td>
    <% end %>
<% else %>
    <%if item.owner == @current_user %>
        <td>
          <form action="/item/<%= item.id %>/status_change" method="post">
            <input type="hidden" name="owner" value="<%= item.owner.name %>" />
            <input type="hidden" name="item" value="<%= item.id %>" />
            <input type="hidden" name="new_state" value="active" />
            <input type="submit" class="btn btn-info small" name="submit" value="Activate item" />
          </form>
        </td>
    <% else %>
        <td style="color:#FF0000;">Inactive</td>
    <% end %>
<% end %>
