<%if item.active #Buy/activate/deactivate buttons %>
    <%if item.owner == @current_agent %>
        <td>
          <form action="/item/<%= item.id %>/status_change" method="post">
            <input type="hidden" name="owner" value="<%= xss item.owner.name %>" />
            <input type="hidden" name="item" value="<%= xss item.id %>" />
            <input type="hidden" name="new_state" value="inactive" />
            <button type="submit" class="btn btn-info small"><%=@LANG["INACTIVATE_ITEM"]%></button>
          </form>
        </td>
    <% else %>
        <%if item.auction?%>
            <td>
              <form action="/item/<%= item.id %>/auction" method="GET">
                <input type="hidden" name="owner" value="<%= xss item.owner.name %>" />
                <input type="hidden" name="item" value="<%= xss item.id %>" />
                <button type="submit" class="btn btn-info small"><%=@LANG["BID_ON_AUCTION"]%></button>
              </form>
            </td>
        <%else if !(defined? offer) %>
            <td>
                  <form action="/item/<%= item.id %>/sell" method="POST">
                    <button type="submit" class="btn btn-info small" name="submit"><%=@LANG["SELL_ITEM"]%></button>
                  </form>
            </td>
        <%else%>
            <td>
              <form action="/item/<%= item.id %>/buy" method="post">
                <input type="hidden" name="owner" value="<%= xss item.owner.name %>" />
                <input type="hidden" name="item" value="<%= xss item.id %>" />
                <button type="submit" class="btn btn-info small" <%if @current_agent.credit < item.price%> disabled="disabled"<%end%>><%=@LANG["BUY_ITEM"]%></button>
              </form>
            </td>
        <%end%>
        <td></td>
    <%end%>
    <%end%>
<% else %>
      <%if item.owner == @current_agent %>
          <td>
            <form action="/item/<%= item.id %>/status_change" method="post">
              <input type="hidden" name="owner" value="<%= xss item.owner.name %>" />
              <input type="hidden" name="item" value="<%= xss item.id %>" />
              <input type="hidden" name="new_state" value="active" />
              <button type="submit" class="btn btn-info small" name="submit"><%=@LANG["ACTIVATE_ITEM"]%></button>
            </form>
          </td>
      <% else %>
          <td style="color:#FF0000;">Inactive</td>
      <% end %>
<% end %>

<%  #params: item - the item to show the buttons for (output in two <td> s)

    # TODO we really don't need to pass current_user to this...

    #Edit button %>

<%if item.owner == @current_agent %>
  <% if !(defined? offer) %>
    <%if item.active %>
        <% if item.auction? %>
            <% if !item.auction.editable? %>
                <td><%= @current_agent == item.owner ? "<i class='muted'>#{@LANG["NO_LONGER_EDITABLE_AFTER_FIRST_BID"]}</i>": ""%></td>
            <% else %>
                <td>
                    <form action="/item/<%= item.id %>/auction/edit" method="GET">
                      <button type="submit" class="btn btn-info small"><%=@LANG["EDIT_AUCTION"]%></button>
                    </form>
                </td>
            <% end %>
        <% else %>
            <td><%= @current_agent == item.owner ? "<i class='muted'>#{@LANG["CANNOT_EDIT_ACTIVE"]}</i>": ""%></td>
        <% end %>
    <% else %>
        <td>
          <form action="/item/<%= item.id %>/edit" method="GET">
            <button type="submit" class="btn btn-info small"><%=@LANG["EDIT_ITEM"]%></button>
          </form>
        </td>
    <% end %>
  <% end %>
<% else %>
    <td></td>
<% end %>

<%  # The auction button   %>

<%if item.owner == @current_agent %>
  <% if !(defined? offer) %>
    <%if item.active %>
        <% if item.auction? %>
            <td><%= @current_agent == item.owner ? "<i class='muted'>#{@LANG["AUCTION_ENDS_AT"]} #{item.auction.end_time.strftime("%d.%m.%Y %H:%M")}</i>": ""%></td>
        <% else %>
            <td><%= @current_agent == item.owner ? "<i class='muted'>#{@LANG["CURRENTLY_NOT_IN_AUCTION"]}</i>": ""%></td>
        <% end %>
    <% else %>
        <td>
          <form action="/item/<%= item.id %>/create_auction" method="GET">
            <button type="submit" class="btn btn-info small"><%=@LANG["CREATE_AUCTION"]%></button>
          </form>
        </td>
    <% end %>
  <% end %>
<% else %>
    <% if item.auction? %>
        <td><i class='muted'><%=@LANG["AUCTION_ENDS_AT"]%> <%=item.auction.end_time.to_s%></i></td>
    <% else %>
        <td></td>
    <% end %>
<% end %>
