<% #Buy/activate/deactivate buttons

   if item.active %>
    <%if item.owner == @current_agent %>
        <td>
          <form action="/item/<%= item.id %>/status_change" method="post">
            <input type="hidden" name="owner" value="<%= xss item.owner.name %>" />
            <input type="hidden" name="item" value="<%= xss item.id %>" />
            <input type="hidden" name="new_state" value="inactive" />
            <input type="submit" class="btn btn-info small" name="submit" value="Inactivate item" />
          </form>
        </td>
    <% else %>
        <%if item.auction?%>
            <td>
              <form action="/item/<%= item.id %>/auction" method="link">
                <input type="hidden" name="owner" value="<%= xss item.owner.name %>" />
                <input type="hidden" name="item" value="<%= xss item.id %>" />
                <input type="submit" class="btn btn-info small" name="submit" value="Bid on auction"/>
              </form>
            </td>
        <%else%>
            <td>
              <form action="/item/<%= item.id %>/buy" method="post">
                <input type="hidden" name="owner" value="<%= xss item.owner.name %>" />
                <input type="hidden" name="item" value="<%= xss item.id %>" />
                <input type="submit" class="btn btn-info small" name="submit" value="Buy Item"<%if @current_agent.credit < item.price%> disabled="disabled"<%end%>/>
              </form>
            </td>
        <%end%>
        <td></td>
    <% end %>
<% else %>
    <%if item.owner == @current_agent %>
        <td>
          <form action="/item/<%= item.id %>/status_change" method="post">
            <input type="hidden" name="owner" value="<%= xss item.owner.name %>" />
            <input type="hidden" name="item" value="<%= xss item.id %>" />
            <input type="hidden" name="new_state" value="active" />
            <input type="submit" class="btn btn-info small" name="submit" value="Activate item" />
          </form>
        </td>
    <% else %>
        <td style="color:#FF0000;">Inactive</td>
    <% end %>
<% end %>

<%  #params: item - the item to show the buttons for (output in two <td> s)

    # TODO we really don't need to pass current_user to this...

    #Edit button %>

<%if item.owner == @current_agent %>

    <%if item.active %>
        <% if item.auction? %>
            <% if !item.auction.editable? %>
                <td><%= @current_agent == item.owner ? "<i class='muted'>No longer editable after first bid</i>": ""%></td>
            <% else %>
                <td>
                    <form action="/item/<%= item.id %>/auction/edit" method="link">
                    <input type="submit" class="btn btn-info small" name="submit" value="Edit Auction" />
                    </form>
                </td>
            <% end %>
        <% else %>
            <td><%= @current_agent == item.owner ? "<i class='muted'>Cannot edit active items</i>": ""%></td>
        <% end %>
    <% else %>
        <td>
          <form action="/item/<%= item.id %>/edit" method="link">
            <input type="submit" class="btn btn-info small" name="submit" value="Edit item" />
          </form>
        </td>
    <% end %>
<% else %>
    <td></td>
<% end %>

<%  # The auction button   %>

<%if item.owner == @current_agent %>

    <%if item.active %>
        <% if item.auction? %>
            <td><%= @current_agent == item.owner ? "<i class='muted'>#{item.auction.end_time}</i>": ""%></td>
        <% else %>
            <td><%= @current_agent == item.owner ? "<i class='muted'>Currently not in auction</i>": ""%></td>
        <% end %>
    <% else %>
        <td>
          <form action="/item/<%= item.id %>/create_auction" method="link">
            <input type="submit" class="btn btn-info small" name="submit" value="Create Auction" />
          </form>
        </td>
    <% end %>
<% else %>
    <% if item.auction? %>
        <td><i class='muted'><%=item.auction.end_time.to_s%></td>
    <% else %>
        <td></td>
    <% end %>
<% end %>
