<%
# Params:
# items to list
# can set in :locals hash:
# :show_owner
# :highlight_active
# :identifier - identifier for this list on a page with multiple item lists, used for paging links

identifier = :itemlistpage unless identifier
page = params[identifier] ? params[identifier].to_i : 0

   %>

<%= erb :_pages_links, :locals => {:size => items.size, :per_page => ITEMS_PER_PAGE, :identifier => identifier} %>

<table class="table">
  <thead>
  <th>Picture</th>
  <th>Name</th>
  <th style="text-align: right; padding-right: 10em;">Price</th>
  <th><%= (defined? show_owner) ? "Owner": ""%></th>
  <th></th>
  <th></th>
  </thead>
  <tbody>
  <% items.each_with_index do |item, index| %>
  <% next unless index/ITEMS_PER_PAGE == page %>
      <tr style="height:<%= LISTROWWITHIMAGEHEIGHT%>px">
        <td><%= erb :_image_rect, :locals => {:filename => item.image_file_name, :size => LISTIMAGESIZE} %></td>
        <td>
        <%= erb :_item_link, :locals => {:item => item, :highlight_active => defined? highlight_active} %>
        </td>


        <td style="text-align: right; padding-right: 10em;"><%= xss item.price %></td>
        <td><%= (defined? show_owner) ?
                (erb :_user_link, :locals => {:user => item.owner}) : "" %></td>

        <%= erb :_item_button, :locals => {:item => item, :current_user => @current_agent} %>
      </tr>
  <% end %>
  </tbody>
</table>