<header>
  <nav>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Marketplace</a>
          <div class=".nav-collapse">
            <ul class="nav">
              <% if @current_user %>
                <li class="dropdown" id="accountmenu">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <%if session[:organization_id].nil?%>
                      <%= xss @current_user.name %>
                    <%else%>
                      <%= xss Organization.organization_by_id(session[:organization_id].to_i).name %>
                    <%end%>
                  </a>
                  <ul class="dropdown-menu">
                    <!-- TODO: individual items link to route for switching user "role" -->
                    <li><a href='<%= "/user/switch" %>'><i class="icon-user"></i><%= xss User.user_by_id(session[:user_id]).name %></a></li>
                    <li class="divider"></li>
                    <%for organization in User.user_by_id(session[:user_id]).list_organizations %>
                      <li><a href='<%= organization.profile_route %>/switch'><i class="icon-briefcase"></i><%= xss organization.name %></a></li>
                    <%end%>
                  </ul>
                </li>
                <li><a href="/logout">Logout</a></li>
              <% else %>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
