<header>
  <nav>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"><%=@LANG["MARKETPLACE"]%></a>
          <div class=".nav-collapse">
            <ul class="nav pull-right">
              <% if @current_user %>
                <form action="/item/search" method="POST" class="navbar-search">
                  <input class="search-query span2" type="text" name="search" placeholder=<%=@LANG["SEARCH"]%> />
                </form>
                <li><a href="/logout"><%=@LANG["LOGOUT"]%></a></li>
              <% else %>
                <li><a href="/login"><%=@LANG["LOGIN"]%></a></li>
                <li><a href="/register"><%=@LANG["REGISTER"]%></a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
