<div class="span2">
  <div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
      <% if !@current_agent # if not logged in %>
          <li
          <%if @current_nav_item == :login%>
          class="active"
          <%end%>
          ><a href="/login"><i class="icon-home"></i><%=@LANG["LOGIN"]%></a></li>
          <li
          <%if @current_nav_item == :register%>
          class="active"
          <%end%>
          ><a href="/register"><i class="icon-none"></i><%=@LANG["REGISTRATION"]%></a></li>
    <% else # if logged in %>
          <li
          <%if @current_nav_item == :marketplace%>
          class="active"
          <%end%>
          ><a href="/"><i class="icon-home"></i><%=@LANG["MARKETPLACE"]%></a></li>

        <li
          <%if @current_nav_item == :sellers%>
            class="active"
          <%end%>
        ><a href="/all_users"><i class="icon-list"></i><%=@LANG["SELLERS"]%></a></li>

        <li
          <%if @current_nav_item == :my_profile or @current_nav_item == :own_organization%>
            class="active"
          <%end%>
        >
          <%if @current_agent == @current_user %>
            <a href= <%= @current_agent.profile_route %>><i class="icon-user"></i><%=@LANG["MY_PROFILE"]%></a>
          <% else %>
            <a href= <%= @current_agent.profile_route %>><i class="icon-briefcase"></i><%=@LANG["ORGANIZATION"]%></a>
          <% end %>
       </li>

       <li
         <%if @current_nav_item == :new_item%>
           class="active"
         <%end%>
       ><a href="/item/create"><i class="icon-plus"></i><%=@LANG["NEW_ITEM"]%></a></li>

       <li
         <%if @current_nav_item == :new_offer%>
           class="active"
         <%end%>
       ><a href="/item/offer"><i class="icon-plus"></i><%=@LANG["NEW_OFFER"]%></a></li>

       <% if @current_agent == @current_user #if is no organization %>

         <li
            <%if @current_nav_item == :new_org%>
              class="active"
            <%end%>
         ><a href="/organization/create"><i class="icon-plus"></i><%=@LANG["NEW_ORGANIZATION"]%></a></li>

         <li
           <%if @current_nav_item == :settings%>
             class="active"
           <%end%>
         ><a href="/settings"><i class="icon-wrench"></i><%=@LANG["ACCOUNT_SETTINGS"]%></a></li>

       <% else # is organization %>

         <li
           <%if @current_nav_item == :settings%>
             class="active"
           <%end%>
         ><a href="/settings"><i class="icon-wrench"></i><%=@LANG["ORG_SETTINGS"]%></a></li>

       <% end # org...%>
     <% end #logged in %>
    </ul>
  </div>


  <% if @current_agent %>
    <p style="font-weight: bold;"><%=@LANG["CREDITS"]%>: <%= xss ts(@current_agent.credit) %></p>
  <% end %>

  <div class="dropdown">
    <div class="dropdown-toggle" style="cursor: pointer;
            cursor: hand;"
          data-toggle="dropdown"
          href="#">
    <%=@LANG["LANGUAGE"]%>:
      <img src="<%= @LANG.icon%>"/>
      <b class="caret"></b>

    </div>
    <ul class="dropdown-menu">
      <% LANGUAGES.each{| key, value | next if value == @LANG%>
              <li>
              <a href='/set_language/<%= key %>'><img src="<%= value.icon%>"/> <%= value["LANGUAGE_NAME"] %></a>
              </li>
         
      <% } %>
    </ul>
  </div>
</div>
