<div class="span2">
  <div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">

      <li
        <%if @current_nav_item == :marketplace%>
          class="active"
        <%end%>
      ><a href="/"><i class="icon-home"></i><%=@LANG["MARKETPLACE"]%></a></li>

      <% if @current_agent %>
        <li
          <%if @current_nav_item == :sellers%>
            class="active"
          <%end%>
        ><a href="/all_users"><i class="icon-list"></i><%=@LANG["SELLERS"]%></a></li>

        <li
          <%if @current_nav_item == :my_profile or @current_nav_item == :own_organization%>
            class="active"
          <%end%>
        >
          <%if @current_agent == @current_user %>
            <a href= <%= @current_agent.profile_route %>><i class="icon-user"></i><%=@LANG["MY_PROFILE"]%></a>
          <% else %>
            <a href= <%= @current_agent.profile_route %>><i class="icon-briefcase"></i><%=@LANG["ORGANIZATION"]%></a>
          <% end %>
       </li>

       <li
         <%if @current_nav_item == :new_item%>
           class="active"
         <%end%>
       ><a href="/item/create"><i class="icon-plus"></i><%=@LANG["NEW_ITEM"]%></a></li>

       <li
         <%if @current_nav_item == :new_offer%>
           class="active"
         <%end%>
       ><a href="/item/offer"><i class="icon-plus"></i><%=@LANG["NEW_OFFER"]%></a></li>

       <% if @current_agent == @current_user %>

         <li
            <%if @current_nav_item == :new_org%>
              class="active"
            <%end%>
         ><a href="/organization/create"><i class="icon-plus"></i><%=@LANG["NEW_ORGANIZATION"]%></a></li>

         <li
           <%if @current_nav_item == :settings%>
             class="active"
           <%end%>
         ><a href="/settings"><i class="icon-wrench"></i><%=@LANG["ACCOUNT_SETTINGS"]%></a></li>

       <% else %>

         <li
           <%if @current_nav_item == :settings%>
             class="active"
           <%end%>
         ><a href="/organization/<%= @current_agent.id %>/settings"><i class="icon-wrench"></i><%=@LANG["ORG_SETTINGS"]%></a></li>

       <% end %>
     <% end %>
    </ul>
  </div>


  <% if @current_agent %>
    <p style="font-weight: bold;"><%=@LANG["CREDITS"]%>: <%= xss ts(@current_agent.credit) %></p>
  <% end %>

  <p>
    <%=@LANG["LANGUAGE"]%>:<%
      LANGUAGES.each{| key, value |
    %>
        <a href='/set_language/<%= key %>' title='<%= value["LANGUAGE_NAME"] %>'><img src="<%= value.icon%>"/></a>
    <%
      }
    %>
  </p>
</div>
