<div class="span2">
  <div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
      <li><a href="/"><i class="icon-home"></i>Marketplace</a></li>
      <% if @current_user %>
          <li><a href="/all_users"><i class="icon-list"></i>Sellers</a></li>
          <li>
              <%if @current_user == @current_login %>
            <a href= <%= @current_user.profile_route %>><i class="icon-user"></i>My profile</a>
                <% else %>
                <a href= <%= @current_user.profile_route %>><i class="icon-briefcase"></i>Organization</a>
                <% end %>
          </li>
          <li><a href="/item/create"><i class="icon-plus"></i>New item</a></li>

          <%if @current_user == @current_login %>
          <li><a href="/organization/create"><i class="icon-plus"></i>New organization</a></li>


          <li><a href="/settings"><i class="icon-wrench"></i>Account Settings</a></li>
                <% end %>
      <% end %>
    </ul>
  </div>


  <% if @current_user %>
  <div style="font-size:1em;">
    <p>Logged in as
    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <%if session[:organization_id].nil?%>
            <%= xss @current_user.name %>
        <%else%>
            <%= xss Organization.organization_by_id(session[:organization_id].to_i).name %>
        <%end%>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href='<%= "/user/switch" %>'><i class="icon-user"></i><%= xss @current_login.name %></a></li>
        <li class="divider"></li>
        <%for organization in @current_login.list_organizations %>
            <li><a href='<%= organization.profile_route %>/switch'><i class="icon-briefcase"></i><%= xss organization.name %></a></li>
        <%end%>
      </ul>
    </div>
    </p>
    <p>Credits: <%= xss @current_user.credit %></p>
  </div>
  <% end %>
</div>
