<div class="span2">
  <div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">

      <li
      <%if @current_nav_item == :marketplace%>
      class="active"
      <%end%>
      ><a href="/"><i class="icon-home"></i>Marketplace</a></li>

      <% if @current_agent %>

          <li
            <%if @current_nav_item == :sellers%>
                class="active"
            <%end%>
          ><a href="/all_users"><i class="icon-list"></i>Sellers</a></li>

          <li
            <%if @current_nav_item == :my_profile%>
                class="active"
            <%end%>
          >
              <%if @current_agent == @current_user %>
                    <a href= <%= @current_agent.profile_route %>><i class="icon-user"></i>My profile</a>
                <% else %>
                    <a href= <%= @current_agent.profile_route %>><i class="icon-briefcase"></i>Organization</a>
                <% end %>
          </li>

          <li
            <%if @current_nav_item == :new_item%>
                class="active"
            <%end%>
          ><a href="/item/create"><i class="icon-plus"></i>New item</a></li>

          <% if @current_agent == @current_user %>

          <li
            <%if @current_nav_item == :new_org%>
                class="active"
            <%end%>
          ><a href="/organization/create"><i class="icon-plus"></i>New organization</a></li>

          <li
            <%if @current_nav_item == :settings%>
                class="active"
            <%end%>
          ><a href="/settings"><i class="icon-wrench"></i>Account Settings</a></li>

          <% else %>

          <li
            <%if @current_nav_item == :settings%>
                class="active"
            <%end%>
          ><a href="/organization/<%= @current_agent.id %>/settings"><i class="icon-wrench"></i>Org. Settings</a></li>

          <% end %>
      <% end %>
    </ul>
  </div>


  <% if @current_agent %>
  <div style="font-size:1em;">
    <p>Logged in as
    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <%if session[:organization_id].nil?%>
            <%= xss @current_user.name %>
        <%else%>
            <%= xss Organization.organization_by_id(session[:organization_id].to_i).name %>
        <%end%>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href='<%= "/user/switch" %>'><i class="icon-user"></i><%= xss @current_user.name %></a></li>
        <li class="divider"></li>
        <%for organization in @current_user.list_organizations %>
            <li><a href='<%= organization.profile_route %>/switch'><i class="icon-briefcase"></i><%= xss organization.name %></a></li>
        <%end%>
      </ul>
    </div>
    </p>
    <p style="font-weight: bold;">Credits: <%= xss ts(@current_agent.credit) %></p>
  </div>
  <% end %>
</div>
