<div class="span2">
  <div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
      <li><a href="/"><i class="icon-home"></i>Marketplace</a></li>
      <% if @current_user %>
          <li><a href="/all_users"><i class="icon-list"></i>Sellers</a></li>
          <li><a href='<%= "/profile/#{@current_user.id}" %>'><i class="icon-user"></i>My profile</a></li>
          <li><a href="/item/create"><i class="icon-plus"></i>Create new item</a></li>
          <li><a href="/settings"><i class="icon-wrench"></i>Account Settings</a></li>
      <% end %>
    </ul>
  </div>
  <% if @current_user %>
  <div style="font-size:1em;">
    <p>Logged in as
        <div class="dropdown">
          <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
            <%= xss @current_user.name %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="button" aria-labelledby="dLabel">
            <!-- TODO: individual items link to route for switching user "role" -->
            <a href='<%= "#" %>'><i class="icon-user"></i><%= xss @current_user.name %></a>
            <%for organization in @current_user.list_organizations %>
                <a href='<%= "#" %>'><i class="icon-asterisk"></i><%= xss organization.name %></a>
            <%end%>
          </ul>
        </div>
    </p>
    <p>Credits: <%= xss @current_user.credit %></p>
  </div>
  <% end %>
</div>
