<% # Params:
# name Name of the error and params label, must be an identifier (into the @error/ params hash)
# label The text to be displayed.
# password Optional. Whether to use password instead of text input style
%>
<div class="control-group <%= "error" if @errors[name] %>">
  <label class="control-label"><%=label%></label>
  <div class="controls">
    <textarea class="input-xlarge span5" name="<%=name.to_s%>" rows="7"><%= xss params[name] %></textarea>

    <% if @errors[name] %>
        <span class="help-inline"><%= xss @errors[name].to_string(@LANG) %></span>
    <% end %>
  </div>
</div>
