<% @title = "Auction" %>

<section id="content">
  <div class="row">
    <%= erb :_sidebar %>
    <div class="span10">
      <h2>Auction for <%= "#{item.name}" %></h2>

      <%= erb :_labeled_text, :locals => {:label => "Start price", :content => item.auction.minimal_price } %>
      <%= erb :_labeled_text, :locals => {:label => "Current price", :content => item.auction.current_price.nil? ? "-" : item.auction.current_price } %>
      <%= erb :_labeled_text, :locals => {:label => "Minimal bid increment", :content => item.auction.increment}  %>
      <%= erb :_labeled_text, :locals => {:label => "Current winner", :content => item.auction.winner.nil? ? "-" : item.auction.winner.name}  %>

      <div class='past-winner'>
        <% item.auction.past_winners.each do |past_winner| %>
            <span class='past-winner-name'><%= "#{past_winner.agent.name}"  %></span>
            <span class='past-winner-time'><%= "#{past_winner.time}" %> </span>
        <% end %>
      </div>

      <form class="form-horizontal" method="POST" action="<%="/item/#{item.id}/bid" %>" enctype="multipart/form-data" style="margin-top: 5px;">
        <fieldset>
          <%= erb :_text_control, :locals => {:name => :bid, :label => "Your bid" }%>

          <div class="form-actions">
            <button class="btn btn-info" type="submit">Save</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>

