<% @title = "Create new item" %>

<section id="content">
<div class="row">
  <%= erb :_sidebar %>
  <div class="span10">
    <h1>Create new item</h1>
    <form class="form-horizontal" method="POST" action="/item/create" enctype="multipart/form-data">
      <fieldset>
        <div class="control-group <%= "error" if @errors[:name] %>">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input class="input-xlarge" id="name" type="text" name="name" value="<%= xss @params['name'] %>" />
            <% if @errors[:name] %>
                <span class="help-inline"><%= xss @errors[:name] %></span>
            <%end%>
          </div>
        </div>
        <div class="control-group <%= 'error' if @errors[:price] %>">
          <label class="control-label" for="price">Price</label>
          <div class="controls">
            <input class="input-xlarge" id="price" type="text" name="price"  value="<%= xss @params['price'] %>" />
            <% if @errors[:price]%>
                <span class="help-inline"><%= xss @errors[:price]%></span>
            <%end%>
          </div>
        </div>

        <div id="cg-image" class="control-group <%= "error" if @errors[:image_file] %>">
          <label class="control-label" for="image">Picture (< 400 kB)</label>
          <div class="controls">
            <input class="input-large" id="image" type="file" name="image_file" accept="image/*" />
            <% if @errors[:image_file] %>
                <span class="help-inline"><%= xss @errors[:image_file] %></span>
            <%end%>
          </div>
        </div>

        <div class="form-actions">
          <button class="btn btn-info" type="submit">Save</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
</section>
