<!DOCTYPE html>
<html lang="en">
    <head>
      <title><%= @title %></title>

      <link rel="stylesheet" href="/css/jquery-ui.css" />
      <link href="/css/jquery-ui-timepicker-addon.css" rel="stylesheet" />
      
      <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" />
      <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
      <style type="text/css">
        body {
          padding-top: 100px;
          padding-bottom: 40px;
        }
      </style>
    </head>
    <body>
        <%= erb :_nav %>
        <div class="container">
          <div class="alert-success alert hidden" id="loggedin">
            <strong>Logged in!</strong><br />You've been logged in successfully!
          </div>
          <div class="alert-success alert hidden" id="registered">
            <strong>Registered!</strong><br />Your account has been successfully created and you have been logged in automatically.
          </div>
          <div class="alert-success alert hidden" id="pwchanged">
            <strong>Password changed!</strong><br />Your password has been successfully changed.
          </div>
          <div class="alert-success alert hidden" id="itembought">
            <strong>Item bought!</strong><br />You successfully purchased the item <%= erb :_item_link, :locals => {:item => Item.by_id(session[:last_bought_item_id]), :highlight_active => false} %>.


            Click <a href= <%= @current_agent ? @current_agent.profile_route : "" %>>here</a> to see your other items.
          </div>
          <div class="alert-success alert hidden" id="orgcreated">
            <strong>Organization created!</strong><br />The organization was successfully created.
          </div>
          <div class="alert-success alert hidden" id="switcheduser">
            <strong>Switched user!</strong><br />
            <%if session[:organization_id].nil?%>
                You are not representing an organization.
            <%else%>
                You are now representing <%= erb :_user_link, :locals => {:user => Organization.organization_by_id(session[:organization_id].to_i)} %>.
            <%end%>
          </div>
          <div class="alert-error alert hidden" id="itemnotyours">
              <strong>Ooops!</strong><br /> You tried to access an item that is not yours.
          </div>
          <div class="alert-error alert hidden" id="itemnotexist">
            <strong>Ooops!</strong><br /> You tried to access an item that does not exist.
          </div>
          <div class="alert-error alert hidden" id="auctionover">
            <strong>Ooops!</strong><br /> Auction already closed.
          </div>
          <div class="alert-error alert hidden" id="noauction">
            <strong>Ooops!</strong><br /> There is no auction for this item.
          </div>

          <%= yield %>
        </div>
        
        <script src="/js/libs/jquery-1.7.2.js"></script>
        <script src="/js/libs/getVarFromUrl.js"></script>
        <script src="/bootstrap/js/bootstrap.js"></script>
        
        <script type="text/javascript">
          $(document).ready(function(){
            $('#'+$.getUrlVar('alert')).removeClass("hidden");
          });
        </script>
        
        <script src="/js/jquery-ui.js"></script>
        <script src="/js/jquery-ui-timepicker-addon.js"></script>

        <script>
            $(function() {
                $( "#end_time" ).datetimepicker({
                    dateFormat: 'dd.mm.yy',  minDate: new Date()
                });
            });
        </script>
    </body>
</html>

