<% @title = @LANG["LOGIN"]
   @current_nav_item = :login
%>

<h1><%=@LANG["LOGIN"]%></h1>
<p><%=@LANG["DONT_HAVE_ACCOUNT_QUESTION"]%> <a href="/register" id="no_account_infolink"><%=@LANG["CLICK_HERE_TO_REGISTER"]%></a></p>
<form class="form-horizontal" method="POST" action="/login">
  <fieldset>
    <%= erb :_text_control, :locals => {:name => :name, :label => @LANG["USERNAME"]}%>
    <%= erb :_text_control, :locals => {:name => :password, :label => @LANG["PASSWORD"], :password => true}%>

    <div class="form-actions">
      <button class="btn btn-info" type="submit"><%=@LANG["LOGIN"]%></button>
    </div>
  </fieldset>
</form>
