<% @title = "Organization Settings: #{@org.name}" %>

<section id="content">
  <div class="row">
    <%= erb :_sidebar %>
    <div class="span10">
      <h1>Organization: <%= xss @org.name %></h1>

      <h3><%= xss @org.name %>'s Members</h3>

      <%=erb :_agent_list, :locals=>{:agents => @org.members,
                                     :version => (@org.admin == @current_user ? :remove_org_member : nil) ,
                                     :org => @org

      }%>


      <hr />

      <% if @org.admin == @current_user and @current_agent == @org %>
        <h3>Add member to organization</h3>
        <% if addable_users.length > 0 %>
            <form action="/organization/<%= @org.id %>/add_member" method="POST">
              <fieldset>
                <select name="user_to_add">
                <% for user in addable_users %>
                  <option value="<%= user.id %>"><%= user.name %></option>
                <% end %>
                </select>
                <button class="btn btn-info" type="submit">Add user</button>
              </fieldset>
            </form>
        <% else %>
          <p>No users to add available</p>
        <% end %>
          <form class="form-horizontal" method="POST" action="/change_profile_picture_organization" enctype="multipart/form-data">
            <h3>Change my profile picture</h3>
            <fieldset>
              <%= erb :_image_file_control %>
              <div class="form-actions">
                <button class="btn btn-info" type="submit">Change profile picture</button>
              </div>
            </fieldset>
          </form>
          <% if @org.image_file_name != nil %>
              <h3>Delete my profile picture</h3>
              <form class="form-horizontal" method="POST" action="/delete_profile_picture_organization" >
                <fieldset>
                  <div class="form-actions">
                    <input type="hidden" name="_method" value="delete"/>
                    <button class="btn btn-danger" type="submit">Delete profile picture</button>
                  </div>
                </fieldset>
              </form>
          <% end %>
      <% end %>

    </div>
  </div>
</section>


