<% @title = "Organization: #{@org.name}" %>

<section id="content">
  <div class="row">
    <%= erb :_sidebar %>
    <div class="span10">
      <h1>Organization: <%= xss @org.name %></h1>

      <% if !@org.about.empty? %>
          <p>About: <%= xss @org.about %></p>
      <% end %>

      <h3 style="padding-top: 50px;"><%= xss @org.name %>'s Items</h3>

      <% if @items.size > 0 %>
          <table class="table">
            <thead>
            <th>Name</th>
            <th style="text-align: right; padding-right: 10em;">Price</th>
            <th></th>
            <th></th>
            </thead>
            <tbody>
            <% for item in @items %>
                <tr>
                  <% if item.active %>
                      <td style="color:#00CC00;"><%= xss item.name %></td>
                      <td style="text-align: right; padding-right: 10em;"><%= xss item.price %></td>
                      <td></td>
                  <% else %>
                      <td style="color:#FF0000;"><%= xss item.name %></td>
                      <td style="text-align: right; padding-right: 10em;"><%= xss item.price %></td>
                      <% if @current_user == item.owner %>
                          <td>
                            <form action="/item/<%= item.id %>/edit" method="link">
                              <input type="submit" class="btn btn-info small" name="submit" value="Edit item" />
                            </form>
                          </td>
                      <% end %>
                  <% end %>
                  <%= erb :_item_button, :locals => {:item => item, :current_user => @current_user} %>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% else %>
        <i>This organization has no items.</i>
      <% end %>
      
      <hr />

      <h3><%= xss @org.name %>'s Members</h3>


      <table class="table">
        <thead>
        <th>Name</th>
        <th>Credits</th>
        <th></th>
        </thead>
        <tbody>
        <% for mem in @org.members %>
            <tr>
              <td><%= erb :_user_link, :locals => {:user => mem} %></td>
              <td><%= mem.credit %></td>
              <td>
                <% if @org.admin == @current_user && @org.admin != mem %>
                    <form action="/organization/<%= xss @org.id %>/remove_member" method="post" style="display: inline;">
                      <input type="hidden" name="user_to_remove" value="<%= xss mem.id %>" />
                      <button class="close">&times;</button>
                    </form>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <% if @org.admin == @current_user %>
        <h3>Add member to organization</h3>
        <% if addable_users.length > 0 %>
            <form action="/organization/<%= @org.id %>/add_member" method="POST">
              <fieldset>
                <select name="user_to_add">
                <% for user in addable_users %>
                  <option value="<%= user.id %>"><%= user.name %></option>
                <% end %>
                </select>
                <button class="btn btn-info" type="submit">Add user</button>
              </fieldset>
            </form>
        <% else %>
          <p>No users to add available</p>
        <% end %>
      <% end %>

    </div>
  </div>
</section>


