<% @title = "Register" %>

<section id="content">
  <div class="row">
    <%= erb :_sidebar %>
    <div class="span10">
      <h1>Registration</h1>
      <p>Select a username and password</p>
      <form class="form-horizontal" method="POST" action="/register" enctype="multipart/form-data">

        <fieldset>
          <%= erb :_text_control, :locals => {:name => :name, :label => "Username"}%>

          <%= erb :_text_control, :locals => {:name => :password, :label => "Password<sup><a href='/strongpass' title='Must be strong.'>?</a></sup>", :password => true}%>

          <%= erb :_text_control, :locals => {:name => :passwordc, :label => "Re-type Password", :password => true}%>

          <%= erb :_image_file_control %>

          <%= erb :_textarea_control, :locals => {:name => :about, :label => "Interests"}%>


          <div class="form-actions">
            <button class="btn btn-info" type="submit">Create My Account</button>
          </div>
        </fieldset>

      </form>
    </div>
  </div>
</section>

