<% @title = "User profile" %>

<section id="content">
  <div class="row">
  <%= erb :_sidebar %>
  <div class="span10">

    <h3>Account settings</h3>
    <h4>Change Password</h4>
    <form class="form-horizontal" method="POST" action="/change_password">
      <fieldset>
        <div id="cg-cpassword" class="control-group <%= "error" if @errors[:cpwinput] %>">
          <%= erb :_text_control, :locals => {:name => :currentpassword, :label => "Current Password", :password => true}%>


          <%= erb :_text_control, :locals => {:name => :password, :label => "Password<sup><a href='/strongpass' title='Must be strong.'>?</a></sup>", :password => true}%>

          <%= erb :_text_control, :locals => {:name => :passwordc, :label => "Re-type Password", :password => true}%>

        <div class="form-actions">
          <button class="btn btn-info" type="submit">Change my password</button>
        </div>
       </div>
      </fieldset>
    </form>

    <form class="form-horizontal" method="POST" action="/change_profile_picture" enctype="multipart/form-data">
    <h3>Change my profile picture</h3>
      <fieldset>
        <%= erb :_image_file_control %>
      <div class="form-actions">
        <button class="btn btn-info" type="submit">Change my picture</button>
      </div>
      </fieldset>
    </form>
    <% if @current_user.image_file_name != nil %>
    <h3>Delete my profile picture</h3>
    <form class="form-horizontal" method="POST" action="/delete_profile_picture" >
      <fieldset>
        <div class="form-actions">
          <input type="hidden" name="_method" value="delete"/>
          <button class="btn btn-danger" type="submit">Delete profile picture</button>
        </div>
      </fieldset>
    </form>
    <% end %>
    <h3>Delete my account</h3>
    <form class="form-horizontal" method="GET" action="/delete_confirmation">
      <fieldset>
        <div class="form-actions">
          <input type="hidden" name="_method" value="delete"/>
          <button class="btn btn-danger" <%if @current_user.is_admin?%> disabled="disabled"<%end%> type="submit">Delete account</button>
          <%if @current_user.is_admin?%> You are currently admin of an organization. Make another member admin before deleting your account. <%end%>
        </div>
      </fieldset>
    </form>
  </div>
</div>
</section>


