<% @title = "User profile" %>

<section id="content">
  <div class="row">
  <%= erb :_sidebar %>
  <div class="span10">
    <h3>Account settings</h3>
    <h4>Change Password</h4>
    <form class="form-horizontal" method="POST" action="/change_password">
      <fieldset>
        <div id="cg-cpassword" class="control-group <%= "error" if @errors[:cpwinput] %>">
          <label class="control-label" for="cpwinput"><i>Current Password</i></label>
          <div class="controls">
            <input class="input-large" id="cpwinput" type="password" name="currentpassword" />
            <% if @errors[:cpwinput] %>
                <span class="help-inline"><%= xss @errors[:cpwinput] %></span>
            <% end %>
          </div>
        </div>

        <div id="cg-password" class="control-group <%= "error" if @errors[:pwinput] %>">
          <label class="control-label" for="pwinput"><i>New Password<sup><a href="/strongpass" title="Must be strong.">?</a></sup></i></label>
          <div class="controls">
            <input class="input-large" id="pwinput" type="password" name="password" />
            <% if @errors[:pwinput] %>
                <span class="help-inline"><%= xss @errors[:pwinput] %></span>
            <% end %>
          </div>
        </div>

        <div id="cg-password-confirm" class="control-group <%= "error" if @errors[:pwcinput] %>">
          <label class="control-label" for="pwcinput"><i>Re-type New Password</i></label>
          <div class="controls">
            <input class="input-large" id="pwcinput" type="password" name="passwordc" />
            <% if @errors[:pwcinput] %>
                <span class="help-inline"><%= xss @errors[:pwcinput] %></span>
            <% end %>
          </div>
        </div>

        <div class="form-actions">
          <button class="btn btn-info" type="submit">Change my password</button>
        </div>
      </fieldset>
    </form>

    <form class="form-horizontal" method="POST" action="/change_profile_picture" enctype="multipart/form-data">
    <h3>Change my profile picture</h3>
      <fieldset>
    <div id="cg-image" class="control-group <%= "error" if @errors[:image_file] %>">
      <label class="control-label" for="image">Picture (< 400 kB)</label>
      <div class="controls">
        <input class="input-large" id="image" type="file" name="image_file" accept="image/*" />
        <% if @errors[:image_file] %>
            <span class="help-inline"><%= xss @errors[:image_file] %></span>
        <%end%>
      </div>
    </div>
      <div class="form-actions">
        <button class="btn btn-info" type="submit">Change my picture</button>
      </div>
      </fieldset>
    </form>

    <h3>Delete my account</h3>
    <form class="form-horizontal" method="GET" action="/delete_confirmation">
      <fieldset>
        <div class="form-actions">
          <input type="hidden" name="_method" value="delete"/>
          <button class="btn btn-danger" type="submit">Delete account</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
</section>


