<% @title = "User profile"
   @items = Item.items_by_agent(@user)
   @organizations = Organization.organizations_by_user(@user)
   @following = @user.following
%>

<section id="content">
<div class="row">
  <%= erb :_sidebar %>
  <div class="span10">
    <% if @user == @current_agent%>
    <h2><%= xss @user.name %> - My profile</h2>
    <% else %>
    <h2>Viewing profile: <%= xss @user.name %></h2>
    <% if @user != @current_user && @current_user == @current_agent%>
      <form action="/follow" method="POST" style="display: inline">
        <input type="hidden" name="follow_id" value="<%= xss @user.id%>" />
        <input type="hidden" name="agent" value="user" />
        <% if @current_user.following.include?(@user) %>
          <input type="submit" class="btn btn-danger small" name="submit" value="Unfollow" />
        <% else %>
          <input type="submit" class="btn btn-info small" name="submit" value="Follow" />
        <% end %>
      </form>
    <% end %>
    <% end %>



    <%= erb :_image_rect, :locals => {:filename => @user.image_file_name, :size => LARGEIMAGESIZE} %>

    <% if @user.about.length > 0 %>
      <p>Interests: <%= mdown_to_html (xss @user.about) %></p>
    <% end %>

    <h3 style="padding-top: 50px;">
      <% if @user == @current_agent %>
        Your items
      <% else %>
        User's items
      <% end %>
    </h3>

    <% if @items.size > 0 %>
        <%=erb :_item_list, :locals=>{
                :items => @items,
                :highlight_active => true
        }%>


    <% else %>
        <% if @user == @current_agent%>
            <i>You have no items.</i>
        <% else %>
            <i>This user has no items.</i>
        <% end %>
    <% end %>

    <% if @user == @current_agent %>
    <form class="form-horizontal" method="GET" action="/item/create">
      <fieldset>
        <div class="form-actions">
          <button class="btn btn-info" type="submit">Add a new item...</button>
        </div>
      </fieldset>
    </form>
    <% end %>

    <h3 style="padding-top: 50px;">
      <% if @user == @current_agent %>
          Your organizations
      <% else %>
          Organizations
      <% end %>
    </h3>

    <% if @organizations.empty? %>
        <p>No Organizations</p>
    <% else %>
        <%=erb :_agent_list, :locals=>{
                :agents => @organizations,
                :version => (@user == @current_agent ? :leave_organization : nil),
                :user => @user
        }%>
    <% end %>

    <h3>
      Following
    </h3>

    <% if @following.empty? %>
        <p>This user is not following anybody.</p>
    <% else %>
        <%=erb :_agent_list, :locals=>{:agents => @following}%>
    <% end %>

    <h3>Wishlist</h3>
    <% if @current_agent.wishlist.empty? %>
       <p>This user has no items in his wishlist.</p>
    <% else %>
       <%= erb :_wish_list %>
    <% end %>

  </div>
</div>
</section>


