<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User profile</title>
    <%= erb :head %>
    <%= erb :libs %>
  </head>
  <body>
    <%= erb :nav %>
    <div class="container">
      <section id="content">
        <div class="row">
          <%= erb :sidebar %>
          <div class="span10">
            <h1>User: <%= @user.name %></h1>

            <% if @user.image_file_name %>
            <img style="width:300px" src='<%= @HOSTNAME+"/userimages/"+@user.image_file_name %>'/>
            <% end %>

            <% if @user.interests.length > 0 %>
            <p>Interests: <%=@user.interests%></p>
            <% end %>

            <h3 style="padding-top: 50px;">User's items</h3>

            <% if @user.items.size > 0%>
            <table class="table">
              <thead>
                <th>Name</th>
                <th>Price</th>
              </thead>
              <tbody>
                <% for item in @user.items %>
                  <tr>
                    <%if item.active%>
                        <td style="color:#00CC00;"><%= item.name %></td>
                        <td><%= item.price %></td>
                        <td> </td>
                    <%else%>
                        <td style="color:#FF0000;"><%= item.name %></td>
                        <td><%= item.price %></td>
                        <td>
                          <form action="/item/<%= item.id %>/edit" method="link">
                            <input type="submit" class="btn btn-info small" name="submit" value="Edit item" />
                          </form>
                        </td>
                    <%end%>
                    <%= erb :item_button, :locals => {:item => item, :user => @user, :current_user => @current_user} %>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <% else %>
            <i>This user has no items.</i>
            <% end %>
          </div>
        </div>
      </section>
    </div>


