<% @title = "User profile"
   @items = Market::Item.items_by_agent(@user)
%>

<section id="content">
<div class="row">
  <%= erb :_sidebar %>
  <div class="span10">
    <% if @user == @current_user%>
    <h1><%= xss @user.name %> - My profile</h1>
    <% else %>
    <h1>User: <%= xss @user.name %></h1>
    <% end %>

    <h3>Profile</h3>
    <%= erb :_image_rect, :locals => {:filename => @user.image_file_name, :size => LARGEIMAGESIZE} %>

    <% if @user.about.length > 0 %>
    <p>Interests: <%= xss @user.about %></p>
    <% end %>

    <h3 style="padding-top: 50px;">
      <% if @user == @current_user %>
        Your items
      <% else %>
        User's items
      <% end %>
    </h3>

    <% if @items.size > 0 %>
    <table class="table">
      <thead>
        <th>Name</th>
        <th style="text-align: right; padding-right: 10em;">Price</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <% for item in @items %>
          <tr>
            <% if item.active %>
                <td style="color:#00CC00;"><%= xss item.name %></td>
                <td style="text-align: right; padding-right: 10em;"><%= xss item.price %></td>
                <td></td>
            <% else %>
                <td style="color:#FF0000;"><%= xss item.name %></td>
                <td style="text-align: right; padding-right: 10em;"><%= xss item.price %></td>
                <% if @current_user == item.owner %>
                    <td>
                      <form action="/item/<%= item.id %>/edit" method="link">
                        <input type="submit" class="btn btn-info small" name="submit" value="Edit item" />
                      </form>
                    </td>
                <% end %>
            <% end %>
            <%= erb :_item_button, :locals => {:item => item, :current_user => @current_user} %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
        <% if @user == @current_user%>
            <i>You have no items.</i>
        <% else %>
            <i>This user has no items.</i>
        <% end %>
    <% end %>

    <% if @user == @current_user %>
    <form class="form-horizontal" method="GET" action="/item/create">
      <fieldset>
        <div class="form-actions">
          <button class="btn btn-info" type="submit">Add a new item...</button>
        </div>
      </fieldset>
    </form>
    <% end %>
  </div>
</div>
</section>


