<% @title = "User profile"
   @items = Item.items_by_agent(@user)
   @organizations = Organization.organizations_by_user(@user)
%>

<section id="content">
<div class="row">
  <%= erb :_sidebar %>
  <div class="span10">
    <% if @user == @current_user%>
    <h1><%= xss @user.name %> - My profile</h1>
    <% else %>
    <h1>User: <%= xss @user.name %></h1>
    <% end %>

    <h3>Profile</h3>
    <%= erb :_image_rect, :locals => {:filename => @user.image_file_name, :size => LARGEIMAGESIZE} %>

    <% if @user.about.length > 0 %>
    <p>Interests: <%= xss @user.about %></p>
    <% end %>

    <h3 style="padding-top: 50px;">
      <% if @user == @current_user %>
        Your items
      <% else %>
        User's items
      <% end %>
    </h3>

    <% if @items.size > 0 %>
        <%=erb :_item_list, :locals=>{
                :items => @items,
                :highlight_active => true
        }%>


    <% else %>
        <% if @user == @current_user%>
            <i>You have no items.</i>
        <% else %>
            <i>This user has no items.</i>
        <% end %>
    <% end %>

    <% if @user == @current_user %>
    <form class="form-horizontal" method="GET" action="/item/create">
      <fieldset>
        <div class="form-actions">
          <button class="btn btn-info" type="submit">Add a new item...</button>
        </div>
      </fieldset>
    </form>
    <% end %>

    <h3 style="padding-top: 50px;">
      <% if @user == @current_user %>
          Your organizations
      <% else %>
          Organizations
      <% end %>
    </h3>

    <% if @organizations.empty? %>
        <p>No Organizations</p>
    <% else %>
        <%=erb :_agent_list, :locals=>{
                :agents => @organizations,
                :version => (@user == @current_user ? :leave_organization : nil),
                :user => @user
        }%>
    <% end %>

  </div>
</div>
</section>


