<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Users</title>
    <%= erb :head %>
    <%= erb :libs %>
  </head>
  <body>
    <%= erb :nav %>
    <div class="container">
      <section id="content">
        <div class="row">
          <%= erb :sidebar %>
          <div class="span10">
            <h1>Users</h1>
            <ul style="margin-top: 25px;">
              <% for user in @users %>
              <li><a href="/profile/<%= user.name %>"><%= user.name %></a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </section>
    </div>
